{{ attach_library('mytheme/card') }}
<div class="card {{ attributes ? attributes.class }}" style="width: 18rem;" {{ attributes ? attributes|without(class) }}>
  <img src="{{ img_url }}" class="card-img-top" alt="{{ img_alt }}">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <div class="card__tags">
      {% include '@mytheme/components/tags/tags.twig' with
        {
          tags: tags
        } only
      %}
    </div>
    <p class="card-text">{{ text }}</p>
    {% include '@mytheme/components/button/button.twig' with
      {
        url: button.url,
        label: button.label,
        modifier_class: button.modifier_class
      } only
    %}
  </div>
</div>